<footer class="page-footer blue-grey darken-3">
	  <div class="container">
	    <div class="row valign-wrapper">
	      <div class="col l5 s12">
	        <h5 class="white-text">Carol Louie</h5>
	        <p class="grey-text text-lighten-4">I am an avid traveller. I love the challenges of learning; embracing a new culture, language or skill. Over the last year, I have been learning how to code in an immersion program <a href="http://www.uitstartup.org/">UIT</a>, where I acquired and developed the work habits and skills to develop a product from ideation and client discovery, to execution, testing and release. <%= link_to "read more about me...", pages_about_path, :class => "red-text text-lighten-3" %> </p>
	      </div>
	      <div class="col l5 offset-l2 s12">
	        <h5 class="white-text">Find me on Social Media:</h5>
	        	<div class="row valign-wrapper">
	        		<a href="https://twitter.com/caroline_louie"><%= image_tag "TwitterButton@2x.png", class:"circle responsive-img"  %></a>
	        		<a href="https://www.facebook.com/carol.louie"><%= image_tag "FacebookButton@2x.png", class:"circle responsive-img" %></a>
	          		<a href="https://instagram.com/clouie87/"><%= image_tag "instagram@2x.png", class:"circle responsive-img" %></a>
	          		<a href="https://www.facebook.com/carol.louie"><%= image_tag "google@2x.png", class:"circle responsive-img" %></a>
	        	</div>
	      </div>
	    </div>
	  </div>
	  <div class="footer-copyright">
	    <div class="container">
	    © 2015 Copyright Clouie
	
	    </div>
	  </div>
</footer>