
<header>
	<!-- Dropdown for Nav bar -->
	<ul id="dropdown1" class="dropdown-content">
	  <li><%= link_to "My Profile", edit_user_registration_path %></li>
	  <li><a href="#!"> My Courses </a></li>
	  <li class="divider"></li>
	  <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
	</ul>
	<!-- we create two one for mobile and one for web -->
	<ul id="dropdown2" class="dropdown-content">
	  <li><%= link_to "My Profile", edit_user_registration_path %></li>
	  <li><a href="#!"> My Courses </a></li>
	  <li class="divider"></li>
	  <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
	</ul>

	<nav class="brown lighten-4 z-depth-2">
		<div class="container">
			<div class="nav-wrapper">
		      <a href="#!" class="brand-logo">ProCode4Startup</a>
		      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
	
		      <ul class="right hide-on-med-and-down">
		        <li><a href="#">Courses</a></li>
		        <% if(!user_signed_in?) %>
		        	<li><%= link_to "Sign Up", new_user_registration_path %></li>
		        	<li><%= link_to "Login", new_user_session_path %></li>
		       	<% else %>
		        	<li><a class="dropdown-button valign-wrapper" href="#!" data-activates="dropdown1">
		        		<%= image_tag avatar_url(current_user), class: "circle responsive-image" %>&nbsp;
		        		<%= current_user.email %><i class="mdi-navigation-arrow-drop-down right"></i></a>
		        	</li>
	        	<% end %>	
		      </ul>
		      <ul class="side-nav" id="mobile-demo">
		        <li><a href="#">Courses</a></li>
		        <% if(!user_signed_in?) %>
		        	<li><%= link_to "Sign Up", new_user_registration_path %></li>
		        	<li><%= link_to "Login", new_user_session_path %></li>
		       	<% else %>
		        	<li><a class="dropdown-button valign-wrapper" href="#!" data-activates="dropdown2">
		        		<%= image_tag avatar_url(current_user), class: "circle responsive-image" %> &nbsp;

		        		<%= current_user.email %><i class="mdi-navigation-arrow-drop-down right"></i></a></li>
	        	<% end %>
		      </ul>
		    </div>
		</div>
		
		</nav>
</header>