<h1>About Me</h1>

<div class = "card z-depth-3">
	<div class = "card-content">
		<div class="row">
			<div class="col m12">
				<div class = "card-panel z-depth-1">
					<br>
					<div class = "row valign-wrapper line">
						<br>

						<div class="col m3 offset-m1">
							<br>
							<%= image_tag "pic.jpg", class:"circle responsive-img" %>
						</div>
						<br/>
						<div class="col m9 ">
							<br/>
							<h4 class="line">Carol Louie</h4>
							<div class="line" style="margin-top: -9px"></div><br>
							<div class="row valign-wrapper center">
								
								<div class="col m10 offset-m1 center">
									
									<br/>
									<div class="col m3">
										<i class="fa fa-download fa-5x" style="color:#58A52B"></i>
										<br>
										Download my Resume
									</div>
									<div class="col m3">
										<i class="fa fa-github fa-5x" style="color:#4C2442"></i><br>
										View my code on Github
									</div>
									<div class="col m3">
										<i class="fa fa-linkedin-square fa-5x" style="color:#175E9E"></i><br>
										Find me on <br> Linkedin
									</div>
									<div class="col m3">
										<i class="fa fa-lightbulb-o fa-5x" style="color:#F6DE2C"></i><br>
										Read my <br>Blog
									</div>

								</div>
							</div>
							<br>
							<br>
							<!-- <div class="row valign-wrapper">
								<div class="col m10 center offset-m1">
									<div class="col m3">
						        		<%= link_to application_download_url do %>
		        						<%= image_tag "DResume@2x.png", class:"responsive-img" %>
	  									<% end %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  								</div>
	  								<div class="col m3">

						        		<a href="https://www.github.com/clouie87" target="_blank"><%= image_tag "GithubSocial@2x.png", class:"responsive-img" %></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						        	</div>
						        	<div class="col m3">
						          		<a href="https://ca.linkedin.com/pub/carol-louie/87/995/762" target="_blank"><%= image_tag "Linkedin@2x.png", class:"responsive-img" %></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						          	</div>
						          	<div class="col m3">
					          			<a href="http://uitblog.com" target="_blank"><%= image_tag "Blog2@2x.png", class:"responsive-img" %></a> 
					          		</div>
					        	</div>
				        	</div> -->
						</div>
					</div>

					
					<div class = "row valign-wrapper topline">

						<div class="col m8 about offset-m2">
							<span>
								I am an avid traveller. I love the challenges of learning; embracing a new culture, language or skill. Over the last year, I have been learning how to code in an immersion program <a href="http://www.uitstartup.org/">UIT</a>, where I acquired and developed the work habits and skills to develop a product from ideation and client discovery, to execution, testing and release.<br/><br>
								 When I arrived in September 2014, Cape Breton was a new place, with lots of new people. I felt that and coding was overwhelming. My first day I asked UIT Founder, Gavin Uhma, where and what terminal was in my MacBook Air; a novice question that helps put my progress into perspective. The hours upon hours spent on video tutorials, articles, hackathons, group discussions, google hangouts, mentorship lectures, reading/writing code and more have made me gain confidence in my ability to prioritize, self-direct, problem solve, and work with a team. I realized not only the power of writing code but also my passion for it. <br/><br>
								Through persistence, time (lots of time) and mentorship, I have uncovered a passion for coding. This new found love has inspired me to strive and learn as much about different aspects of programming as possible. While challenging, these intense 14 hour days allowed me to determine that I am most interested in front-end development. I love working with Angular.js and Ionic to create functional, cool apps quickly and being able to iterate on them frequently and easily, as well as working with RESTful API’s and thinking about how data can interact with a completely separate system.

							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class= "col m5 center" style="margin-top: 5px">
			<a class="twitter-timeline" href="https://twitter.com/caroline_louie" data-widget-id="603959425456541696">Tweets by @caroline_louie</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
			</script>
		</div>
		
		<div class= "col m7">
			<div class = "card-panel z-depth-1">
				<br/>
				<div>
					<span class="underline"><h4 style="color:black">Favourite Tutorials</h4></span>
					<p> There were a number of tutorials that helped me get a better grasp on code while I was learning over the last year. Here is a few of my favourites:
						<ul>
							<li>1. JavaScript: <a href="https://www.codeschool.com/" target="_blank">CodeSchool: Javascript Roadtrip (3 Parts) and jQuery </a></li>
							<li>2. Angular:  <a href="https://code4startup.com/projects/ninja-learn-angularjs-firebase-by-cloning-udemy" target="_blank">Code4Startup: TaskNinja</a>, <a href="https://www.codeschool.com/" target="_blank">CodeSchool: Shaping Up with Angular and Staying Sharp with Angular</a>
							<li>3. Design: <a href="https://designcode.io/" target="_blank">Meng To: Design+Code </a></li>
							<li>4. Ruby: <a href="https://code4startup.com/projects/hero-learn-ruby-on-rails-and-full-stack-by-cloning-code4startup-version-pro" target="_blank">Code4Startup: Newbies and Hero</a>,</li>

						</ul>
				</div><br/>

				<div>
					<span class="underline"><h4 style="color:black">Favourite Articles</h4></span>
					<p> Here's a list of my top 5 articles that I read this year that really improved my understanding of different concepts:
						<ul>
							<li>1. <a href="http://pouchdb.com/2015/05/18/we-have-a-problem-with-promises.html" target="_blank">We have a problem with promises</a>
							<li>2. <a href="http://devdactic.com/user-auth-angularjs-ionic/?utm_content=buffer2ce67&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer" target="_blank">How to handle user Auth using Angular in Ionic</a></li>
							<li>3. <a href="http://www.raywenderlich.com/76024/swift-table-view-animations-tutorial-drop-cards#comments" target="_blank">How To Make a Table View Drop-In Card Animation</a></li>
							<li>4. <a href="http://www.raywenderlich.com/76024/swift-table-view-animations-tutorial-drop-cards#comments" target="_blank">Scotch io: Easy Node Tutorial</a></li>
							<li>5. <a href="https://medium.com/@jeffandersen/building-a-node-js-rest-api-with-express-46b0901f29b6" target="_blank">Building a Node.js Rest API with Express</a></li>
						</ul>
				</div>

			</div>
		</div>

		</div>
		


	</div>
</div>