<h1>About Me</h1>

<div class = "card z-depth-3">
	<div class = "card-content">
		<div class="row">
			<div class="col m12">
				<div class = "card-panel z-depth-1">
					<div class = "row valign-wrapper line">
						<div class="col m3">
							<%= image_tag "pic.jpg", class:"circle responsive-img" %>
						</div>
						<br/>
						<div class="col m9">
							<br/>
							<h4 class="line">Carol Louie</h4></span>
							<p>some text will go here to make it easy to download my resume and connect to me professionally.
							</p>
							<br/>
							<div class="row valign-wrapper">
								
								<div class="col m12 center">
					        		<a href="https://twitter.com/caroline_louie"><%= image_tag "resume@2x.png", class:"circle responsive-img" %> &nbsp;&nbsp;&nbsp;&nbsp;
					        		<a href="https://www.github.com/clouie87"><%= image_tag "Github@2x.png" %></a> &nbsp;&nbsp;&nbsp;&nbsp;
					          		<a href="https://ca.linkedin.com/pub/carol-louie/87/995/762"><%= image_tag "LinkdIn@2x.png", class:"circle responsive-img" %></a> &nbsp;&nbsp;&nbsp;&nbsp;
					          		<a href="https://www.facebook.com/carol.louie"><%= image_tag "Blog@2x.png", class:"circle responsive-img" %></a>
					        	</div>
					       
				        	</div>
						</div>
					</div>

					
					<div class = "row valign-wrapper topline">

						<div class="col m12 about">
							<span>
								I am an avid traveller and love the challenges of learning; learning new cultures, languages and skills. Over the last year I have been learning how to code in an immersion program (UIT) which has introduced me to a ton of new ideas, thoughts and skills. I am extremely grateful for having the opportunity to take part in such this program.<br/><br/>

								When I arrived in September, Cape Breton was a new place, with new people and coding was overwhelming. My first day I asked Gavin Uhma (UIT Founder) where and what terminal was in my MacBook Air; a novice question that helps put my progress into perspective. The hours upon hours spent on video tutorials, articles, hackathons, group discussions, google hangouts, mentorship lectures, reading/writing code and more have made me much more comfortable around computers.  I gained confidence in my ability to prioritize, self-direct, problem solve, and learn from and with others.  I realized the power of writing code and my passion for it.<br><br>

								Through persistence, time (lots of time) and mentorship, I have uncovered a passion for coding. And this new found love has inspired me to try and learn as much about different aspects of programming as possible. While challenging, these intense 14 hour days, allowed me to determine that I am most interested in front-end development. I love working with Angular.js and Ionic to create functional, cool apps quickly and being able to iterate on them easily. I have also really enjoyed working with Restful API's, and thinking about how data is saved and called on.<br><br>

								UIT curriculum focused on software development while encouraging us to bring outside interests to the classroom and our projects.  My love of education drew me towards Brilliant Labs: a program designed to offer school aged children experience and skills with technology.  Here I learned more about hardware and robotics, skills I was more than happy to share with my peers at UIT.  Brilliant Labs bought a 3D printer which I assembled with a friend, brought to UIT, and got everyone excited! This excitment has sparked others interest in Arduinos and Raspberry Pi. The enthusiasm has prompted  <br/><br/>

								I can not express enough, how thankful I feel towards UIT. It has opened my eyes to 
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class= "col m5 center" style="margin-top: 5px">
			<a class="twitter-timeline" href="https://twitter.com/caroline_louie" data-widget-id="603959425456541696">Tweets by @caroline_louie</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
			</script>
		</div>
		
		<div class= "col m7">
			<div class = "card-panel z-depth-1">
				<br/>
				<div>
					<span class="underline"><h4 style="color:black">Favourite Tutorials</h4></span>
					<p> There were a number of tutorials that helped me get a better grasp on code while I was learning over the last year. Here is a few of my favourites:
						<ul>
							<li>1. JavaScript: <a href="https://www.codeschool.com/">CodeSchool: Javascript Roadtrip (3 Parts) and jQuery </a></li>
							<li>2. Angular:  <a href="https://code4startup.com/projects/ninja-learn-angularjs-firebase-by-cloning-udemy">Code4Startup: TaskNinja</a>, <a href="https://www.codeschool.com/">CodeSchool: Shaping Up with Angular and Staying Sharp with Angular</a>
							<li>3. Design: <a href="https://designcode.io/">Meng To: Design+Code </a></li>
							<li>4. Ruby: <a href="https://code4startup.com/projects/hero-learn-ruby-on-rails-and-full-stack-by-cloning-code4startup-version-pro">Code4Startup: Newbies and Hero</a>,</li>

						</ul>
				</div><br/>

				<div>
					<span class="underline"><h4 style="color:black">Favourite Articles</h4></span>
					<p> Here's a list of my top 5 articles that I read this year that really improved my understanding of different concepts:
						<ul>
							<li>1. <a href="http://pouchdb.com/2015/05/18/we-have-a-problem-with-promises.html">We have a problem with promises</a>
							<li>2. <a href="http://devdactic.com/user-auth-angularjs-ionic/?utm_content=buffer2ce67&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer">How to handle user Auth using Angular in Ionic</a></li>
							<li>3. <a href="http://www.raywenderlich.com/76024/swift-table-view-animations-tutorial-drop-cards#comments">How To Make a Table View Drop-In Card Animation</a></li>
							<li>4. <a href="http://www.raywenderlich.com/76024/swift-table-view-animations-tutorial-drop-cards#comments">Scotch io: Easy Node Tutorial</a></li>
							<li>5. <a href="https://medium.com/@jeffandersen/building-a-node-js-rest-api-with-express-46b0901f29b6">Building a Node.js Rest API with Express</a></li>
						</ul>
				</div>

			</div>
		</div>

		</div>
		


	</div>
</div>