<% content_for :head do %>
	<title><%= @project.name %>| Pro4Code ></title>

	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@caroline_louie">
	<meta name="twitter:creator" content="@caroline_louie">
	<meta name="twitter:title" content="<%= @project.name %>">
	<meta name="twitter:description" content="<%= @project.content %>">
	<meta name="twitter:image:src" content="<%= image_url @project.image %>">

	<!-- Open Graph Data -->
	<meta property="og:site_name" content="Pro4Code">
	<meta property="og:type" content="website">
	<meta property="og:title" content="<%= @project.name %>">
	<meta property="og:description" content="<%= @project.content %>">
	<meta property="og:image" content="<%= @project.image %>">
<% end %>

<div class = "row">
	<div class="col m4">
		<div class="card z-depth-2">
			<div class="card-action">
				<div class="center">
					<h3 class="line"><%= @project.date %></h3>
				</div>

				<div class="card-content topline">
					<div> 
						<p>Languages: <%= @project.language %></p>
					</div>
					<div>
						<p class="float-right"><%= markdown(@project.github) %></p>	
					</div>
					
				</div>
			</div>
		</div>
		<div class="card z-depth-2">
			<div class="card-action center">
				<div class="center">
					<h3 class="line">More Information</h3>
				</div>
				<div class= "topline">
					<br/>
				</div>
				<div class="collection" data-no-turbolink>
				    <% @tasks.each do |task| %>
						<% if task.header %>
							<div class="collection-item active">
								<%= task.title %>
							</div>
						
						
						<% else %>
							<% if task.live %>

								<%= link_to task.note, :target => "_blank", class: "collection-item" do %>
									<%= task.title %>
								<% end %>

							<% else %>

							<%= link_to [task.project, task], class: "collection-item" do %>
								<%= task.title %>
							<% end %>
							<% end %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	

		<div class="card z-depth-2">
			<div class="card-action center">
				<div class="center">
					<h3 class="line">Resources</h3>
				</div>
				<div class= "topline">
					<ul>
						<li><%= @project.language %></li>
					</ul>
				</div>
			</div>
		</div>
	</div>


	<div class="col m8">
		<div class="card z-depth-2">

			<div class="card-image"> 
				<%= image_tag @project.image %>
				
			</div>
			

				<div class="row">
				    <div class="col s12">
				      <ul class="tabs">
				        <li class="tab col s3"><a class="active" href="#about">About</a></li>
				        <li class="tab col s3"><a href="#discussions">Discussions</a></li>
				      </ul>
				    </div>
				    <div id="about" class="col s12">
				    	<div class="card-content grey-text text-darken-4">
							<h5><%= @project.name %></h5>
							
							<span id="average_rating"></span>
							<p> <%= @reviews.count %> <%= @reviews.count > 1? "Reviews" : "Review" %> </p>
							<hr>
					    	<%= @project.content %>
					    	
						</div>
				    </div>
				    

				    <div id="discussions" class="col s10 offset-s1">
				    	<div id="disqus_thread"></div>
							<script type="text/javascript">
							    /* * * CONFIGURATION VARIABLES * * */
							    var disqus_shortname = 'clouie';

							    var disqus_identifier = '<%= @project.id %>';
							    
							    /* * * DON'T EDIT BELOW THIS LINE * * */
							    (function() {
							        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
							        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
							        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
							    })();
							</script>
							<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
				    </div>
				</div>
			</div>
		</div>
	</div>


<script>
	$(document).ready(function(){
	    $('ul.tabs').tabs();

		$('#average_rating').raty({
			path: '/assets',
			readOnly: true,
			score: <%= @project.average_rating %>
		});
	 });
</script>