<div class = "row">
	<div class="col m4">
		<div class="card z-depth-2">
			<% if !@joined %>

			<div class="center">
				<h1>$<%= @project.price == 0? 'Free' : "#{@project.price}" %></h1>
			</div>
			<div class="card-action center">
				<% if user_signed_in? %>
					<%= form_tag free_path do %>
					<%= hidden_field_tag 'project_id', @project.id %>
						<button class="btn waves-effect waves-light pink darken-2">
							Take this Project
						</button>
					<% end %>
				<% else %>
					<%= link_to new_user_session_path do %>
						<button class="btn waves-effect waves-light pink darken-2">
							Take this Project
						</button>
					<% end %>
				<% end %>
			</div>

			<% else %>
			<div class="card-content center">
				<%= image_tag avatar_url(current_user), class: "circle responsive-image avatar-medium" %><br/>
				<h5><%= current_user.name %></h5>
			</div>
			<div class="card-action center">
				<% @users.each do |u| %>
					<span class="valign-wrapper">
						<%= image_tag avatar_url(u), class: "circle responsive-image avatar-small" %>&nbsp;
						<%= u.name %>
					</span><br/>
				<% end %>
			</div>

			<% end %>
		</div>
	</div>


	<div class="col m8">
		<div class="card z-depth-2">
			<div class="card-image">
				<%= image_tag @project.image %>
			</div>
			<div class="card-content grey-text text-darken-4">
				<h5><%= @project.name %></h5>
				<span id="average_rating"></span>
				<p> <%= @reviews.count %> <%= @reviews.count > 1? "Reviews" : "Review" %> </p>
				<hr>
				<%= @project.content %>

				<div class="collection" data-no-turbolink>
					<% @tasks.each do |task| %>
					<% if task.header %>
						<div class="collection-item active">
							<i class="mdi-social-school"> <%= task.title %></i>
						</div>
					<% else %>
						<%= link_to [task.project, task], class: "collection-item" do %>
							<%= task.title %>
						<% end %>
					<% end %>
				<% end %>
				</div>

			</div>

			<div class="card-content">
				<h4>Reviews</h4>
				<div><%= render 'reviews/form' if @joined && !@hasReview %></div>	
				<div><%= render 'reviews/index' %> </div>
			</div>
		</div>
	</div>
</div>


<script>
	$('#average_rating').raty({
		path: '/assets',
		readOnly: true,
		score: <%= @project.average_rating %>
	});
</script>