<!DOCTYPE html>
<html>
<head>
  <title>Carol's Tech</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <script src="//load.sumome.com/" data-sumo-site-id="354bb76c7a7e576c24cd02c4ffc993b5e87d66cc5a143cfe6c8e1e2b91ccb20b" async="async"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-64164616-1', 'auto');
    ga('send', 'pageview');
  </script>

  <%= yield :head %>

  <!--Start of Zopim Live Chat Script-->
  <script type="text/javascript">
  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
  $.src="//v2.zopim.com/?3653DyLwhz8bLjOEotxeRAYLYIdC8vfM";z.t=+new Date;$.
  type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
  </script>
  <!--End of Zopim Live Chat Script-->  
</head>
<body>

	<%= render partial: "shares/header" %>
	<%= render partial: "shares/message" %>

	<main>
		<div class="container">
			<%= yield %>
		</div>
  	</main>

  	<%= render partial: "shares/footer" %>

</body>

<script>
      $(".button-collapse").sideNav();
      $(".dropdown-button").dropdown();
</script>	

</html>
